*, html {
    font-size: 16px;
    font-family: 'Roboto', Monospace;
    color: rgba(37,38,39,1);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
body {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 40px;
}

.table {
    width: 100%;
    max-width: 800px;
    margin: auto;
    /*border: 1px solid black;*/
}
.table .row {
}
.table .row.header  {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
}
.table .row.header > * {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 10px;
}
.table .row.header .col {
    padding: 20px 10px;
}
.table .row .col {
    margin: 0;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
