<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>

<table class="table">
	<tr class="row header">
		{% for field in context.fields %}
			<td class="col">{{ field }}</td>
		{% endfor %}
	</tr>
	{% for row in context.data %}
		<tr class="row">
			<td class="col">{{ row.id }}</td>
			<td class="col">{{ row.object_name }}</td>
			<td class="col">{{ row.address }}</td>
			<td class="col">{{ row.owner }}</td>
		</tr>
	{% endfor %}
</table>


</body>
</html>
